@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

.page-content {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/png/bg-ornament.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #FFFFFF;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 80%;
  }
}
.hero:before {
  position: absolute;
  content: url("../img/png/leaf3.png");
  bottom: -2.2222222222rem;
  left: 2%;
  z-index: 91;
}
@media screen and (max-width: 768px) {
  .hero:before {
    display: none;
  }
}
.hero:after {
  position: absolute;
  content: url("../img/png/hero-berries.png");
  bottom: -3.7777777778rem;
  right: 8%;
}
@media screen and (max-width: 768px) {
  .hero:after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5555555556rem;
  background: url("../img/png/chocs.png") right center/50% auto no-repeat;
  z-index: 88;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__content {
  width: 42%;
}
@media screen and (max-width: 768px) {
  .hero__content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__content:before {
    content: "";
    position: absolute;
    width: 19.4444444444rem;
    height: 20.3333333333rem;
    top: 16%;
    background: url("../img/png/comp.png") center center/contain no-repeat;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__content:before {
    top: 8%;
  }
}

.hero__content-title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 0.8888888889rem;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .hero__content-title {
    padding: 0 5%;
    margin-top: 44%;
  }
}
@media screen and (max-width: 480px) {
  .hero__content-title {
    margin-top: 62%;
  }
}

.hero__content-text {
  font-weight: 400;
  font-size: 1.1666666667rem;
  margin-bottom: 2.7777777778rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__content-text {
    padding: 0 24%;
    margin-bottom: 1.8888888889rem;
  }
}
@media (max-width: 480px) {
  .hero__content-text {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons {
    display: none;
  }
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    min-height: 816px;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 816px;
  }
}

.section__head {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section__head {
    margin-top: 4%;
  }
}

.section__head-title {
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 0.3333333333rem;
  z-index: 90;
}
@media (max-width: 480px) {
  .section__head-title {
    padding-top: 2%;
  }
}

.section__head-text {
  padding-left: 26%;
  padding-right: 26%;
}
@media screen and (max-width: 768px) {
  .section__head-text {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (max-width: 480px) {
  .section__head-text {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.7777777778rem;
  margin-bottom: 1.7777777778rem;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .call.header__phone-number {
    display: none;
  }
}

.section__products {
  background-color: #F8FAF9;
  position: relative;
  display: flex;
  justify-content: center;
}
.section__products:before {
  content: "";
  background-image: url("../img/png/backgrProd.png");
  position: absolute;
  right: 0;
  bottom: -25%;
  width: 10.8888888889rem;
  height: 25.1111111111rem;
}
@media screen and (max-width: 768px) {
  .section__products:before {
    bottom: -14%;
    width: 8.4444444444rem;
    height: 19.4444444444rem;
    background-size: contain;
  }
}
@media screen and (max-width: 480px) {
  .section__products:before {
    width: 152px;
    height: 350px;
  }
}
.section__products:after {
  content: "";
  background-image: url("../img/png/berries.png");
  position: absolute;
  bottom: -7%;
  right: 7%;
}
@media screen and (max-width: 768px) {
  .section__products:after {
    background-size: contain;
    height: 4.7777777778rem;
    width: 5.7777777778rem;
    bottom: 0;
    right: 1%;
  }
}
@media screen and (max-width: 480px) {
  .section__products:after {
    width: 104px;
    height: 86px;
  }
}
@media screen and (max-width: 480px) {
  .section__products {
    padding-bottom: 10%;
  }
}

.bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: 0;
}

.product-slider {
  display: flex;
  margin-bottom: 5rem;
}
.product-slider__arrow {
  position: absolute;
  top: 14.4444444444rem;
  display: inline-block;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  z-index: 100;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  .product-slider__arrow {
    top: 13.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arrow {
    top: 8.3333333333rem;
  }
}
.product-slider__arrow--direction-prev {
  transform: rotate(-135deg);
  left: 1%;
}
@media screen and (max-width: 768px) {
  .product-slider__arrow--direction-prev {
    left: 6%;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arrow--direction-prev {
    left: 8px;
  }
}
.product-slider__arrow--direction-next {
  transform: rotate(45deg);
  right: 1%;
}
@media screen and (max-width: 768px) {
  .product-slider__arrow--direction-next {
    right: 6%;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arrow--direction-next {
    right: 8px;
  }
}
@media screen and (max-width: 768px) {
  .product-slider {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .product-slider {
    justify-content: center;
  }
}

.product__container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .product__container {
    flex-direction: column;
  }
}

.product__photo {
  width: 30.2222222222rem;
  height: 26.1111111111rem;
  position: relative;
  right: 5%;
}
@media screen and (max-width: 768px) {
  .product__photo {
    display: block;
    align-self: center;
    right: 3%;
  }
}
@media screen and (max-width: 480px) {
  .product__photo {
    display: contents;
  }
}
.product__photo-pic {
  position: absolute;
  top: 10%;
}
@media screen and (max-width: 768px) {
  .product__photo-pic {
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .product__photo-pic {
    position: relative;
    display: block;
    padding-right: 5%;
  }
}

.product__content {
  flex: 1;
}
.product__content--hover--icon {
  background-color: #86C3D7;
  width: 5rem;
  height: 5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 1.4444444444rem;
}
@media screen and (max-width: 768px) {
  .product__content {
    align-self: center;
  }
}

.composition--hover {
  fill: #ffffff;
  width: 2.5555555556rem;
  height: 2.5555555556rem;
}

.product__content--hover--composition--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 15.1111111111rem;
  min-height: 19.1111111111rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  right: 9999px;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .product__content--hover {
    display: none;
  }
}
.product__content--hover:hover .product__content--hover--composition--list {
  right: 1.8888888889rem;
  opacity: 1;
}

.composition--icon {
  fill: #000000;
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  margin-right: 0.5555555556rem;
}

.product__content--hover--composition--item {
  display: flex;
  flex-direction: row;
  flex: 1;
  color: #000000;
  width: 13.6666666667rem;
  height: 2.4444444444rem;
  margin-top: 0.5555555556rem;
  align-self: center;
}
.product__content--hover--composition--item-pic {
  width: 15%;
  margin-left: 0.8888888889rem;
}
.product__content--hover--composition--item-gramm {
  width: 15%;
  padding-top: 0.1111111111rem;
}
.product__content--hover--composition--item-text {
  width: 70%;
  text-align: center;
  padding-left: 0;
  padding-top: 0.1111111111rem;
}

.product__content {
  flex: 1;
}
.product__content-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3888888889rem;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 0.7777777778rem;
  width: 20.4444444444rem;
}
@media screen and (max-width: 768px) {
  .product__content-title {
    text-align: center;
    margin-top: 5%;
  }
}
.product__content-text {
  color: #666666;
  font-weight: 400;
  line-height: 1.2222222222rem;
  width: 20.4444444444rem;
}
@media screen and (max-width: 768px) {
  .product__content-text {
    text-align: center;
  }
}

.product__content-feature--row {
  display: flex;
  flex-direction: row;
  margin-top: 1.8888888889rem;
}
@media screen and (max-width: 768px) {
  .product__content-feature--row {
    justify-content: center;
  }
}
.product__content-feature--row--col {
  flex-direction: column;
  margin-right: 2.7777777778rem;
}
.product__content-feature--row--col--top {
  color: #666666;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
}
.product__content-feature--row--col--bottom {
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2222222222rem;
}
.product__content-feature--row--price {
  color: #151515;
  font-weight: 300;
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
  margin-right: 1.6666666667rem;
}

.mobile-wrapper {
  display: flex;
  justify-content: center;
}

.team--version--desktop {
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 1;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--mobile {
  display: none;
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16.6666666667rem;
  }
}

.section__head-title.section__head-title--team {
  color: #292929;
  margin-bottom: 1.8333333333rem;
}
@media screen and (max-width: 768px) {
  .section__head-title.section__head-title--team {
    margin-top: 11.1111111111rem;
    margin-bottom: 1.8888888889rem;
  }
}

.team__item {
  width: 12.3333333333rem;
  height: 25.2222222222rem;
  position: relative;
  margin-right: 1.1111111111rem;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    text-align: center;
    width: 14.4444444444rem;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

.team__member {
  margin-bottom: 1.1111111111rem;
  width: 12.3333333333rem;
  height: 16.1111111111rem;
}
@media screen and (max-width: 768px) {
  .team__member {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .team__member {
    width: 7.6666666667rem;
    height: 10rem;
  }
}
.team__member-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 0.3333333333rem;
}

.team__title {
  border: none;
  background: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1666666667rem;
  padding: 0;
  vertical-align: middle;
  margin-bottom: 0.4444444444rem;
  outline: none;
}

.team__content-text--title {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  margin-bottom: 0.2222222222rem;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .team__content-text--title {
    font-weight: bold;
    color: #000000;
    margin-top: 0.7777777778rem;
  }
}
.team__content-text--description {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2222222222rem;
}
@media screen and (max-width: 768px) {
  .team__content-text--description {
    margin-bottom: 1.7777777778rem;
  }
}

.team__content {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
}
.team__content-block {
  height: 24rem;
}
@media screen and (max-width: 768px) {
  .team__content-block {
    width: 14.4444444444rem;
    height: 22.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .team__content-block {
    height: 15.5555555556rem;
  }
}

.section__team {
  min-height: 400px;
}
@media screen and (max-width: 768px) {
  .section__team {
    display: block;
  }
}

.equilateralTriangle {
  width: 0;
  height: 0;
  margin-top: -7px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 7px solid #365A49;
  border-bottom: 0px solid #365A49;
  vertical-align: super;
  display: inline-block;
  margin-left: 4px;
}
.equilateralTriangle.active {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 0px solid #365A49;
  border-bottom: 7px solid #365A49;
}

.triangle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.1111111111rem;
  height: 1.6666666667rem;
  margin-right: 0.4444444444rem;
  fill: transparent;
  stroke: #C6F7FF;
  stroke-width: 1px;
}

.feature__text {
  font-size: 0.8888888889rem;
  font-weight: 400;
  max-width: 4.6666666667rem;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  padding: 1.1111111111rem 2.2222222222rem;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.0166666667rem;
  border: none;
  z-index: 80;
}
.btn--theme--white {
  color: #0b4d3c;
  background: #fff;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn__theme--green {
  color: #fff;
  background: #0b4d3c;
}
.btn__theme--green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn__theme--transparent {
  background: transparent;
  color: #292929;
  text-transform: none;
  font-weight: 400;
}
.btn__theme--transparent:hover {
  color: #0b4d3c;
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__element {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__element:before {
  content: url("../img/png/3dots.png");
  position: absolute;
  top: 3.1111111111rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__element:before {
    display: none;
  }
}
.benefits__element:first-child {
  padding-left: 0;
}
.benefits__element:last-child {
  padding-right: 0;
}
.benefits__element:last-child:before {
  display: none;
}

@media screen and (max-width: 480px) {
  .benefits__col {
    flex: 2;
    text-align: left;
    margin-right: 40px;
    margin-left: 12px;
  }
}

.about__item {
  text-align: center;
  flex: 1;
  position: relative;
}
@media screen and (max-width: 480px) {
  .about__item {
    padding: 0;
    display: flex;
    margin-bottom: 10px;
  }
}

.benefits__pic {
  display: inline-block;
  position: relative;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .benefits__pic {
    display: flex;
    align-self: center;
  }
}

.benefits__pic-icon {
  height: 3.5555555556rem;
  width: 3.5555555556rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  color: #292929;
  margin-bottom: 0.7777777778rem;
}

.benefits {
  margin-top: 2%;
}

.section__head {
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .section__head {
    margin-top: 0;
  }
}

.section__about {
  position: relative;
  background: url("../img/png/leaf-ornament.png") left bottom 50% no-repeat;
}
@media screen and (max-width: 768px) {
  .section__about {
    background-position: left bottom 100%;
  }
}
@media screen and (max-width: 480px) {
  .section__about {
    background: none;
  }
}
.section__about:before {
  content: url("../img/png/berry3.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .section__about:before {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .section__head-text {
    margin-bottom: 2.8888888889rem;
  }
}

@media (max-width: 380px) {
  .section__title.products-menu-section__title {
    font-size: 2.1111111111rem;
  }
}
@media (max-width: 340px) {
  .section__title.products-menu-section__title {
    font-size: 1.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .section.products-menu-section {
    min-height: auto;
    max-height: 100vh !important;
  }
}

.products-menu-section {
  background: url("../img/png/menuu.png") center center/cover no-repeat;
  position: relative;
  color: #fff;
}
.products-menu-section:before {
  content: "";
  background-image: url("/img/png/berrymenu.png");
  position: absolute;
  top: -10%;
  left: 5%;
  width: 5.7777777778rem;
  height: 6.3333333333rem;
  z-index: 80;
}
@media screen and (max-width: 768px) {
  .products-menu-section:before {
    width: 5rem;
    height: 5.4444444444rem;
    background-size: contain;
    top: -7%;
    left: 4%;
  }
}
.products-menu-section__title {
  margin-top: -27%;
  margin-left: 10%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6666666667rem;
}
@media screen and (max-width: 768px) {
  .products-menu-section__title {
    margin-top: -95%;
  }
}
@media screen and (max-width: 480px) {
  .products-menu-section__title {
    margin-left: 2%;
    margin-top: -135%;
  }
}

.products-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.products-menu__item {
  display: flex;
}
@media screen and (max-width: 480px) {
  .products-menu__item.active {
    flex-shrink: 0;
    order: 1;
    width: 100vw;
  }
}
.products-menu__title {
  position: relative;
  width: 5.6666666667rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .products-menu__title {
    max-width: 5rem;
  }
}
.products-menu__img {
  height: 100%;
  width: 100%;
}
.products-menu__text {
  text-decoration: none;
  transform: rotate(-90deg) translateY(-50%);
  font-weight: bold;
  font-size: 2.6666666667rem;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -30%;
  white-space: nowrap;
  transform-origin: 0 0;
}
@media screen and (max-width: 480px) {
  .products-menu__text {
    font-size: 2.2222222222rem;
  }
}
.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: relative;
  width: 0;
  overflow: hidden;
  transition: width 0.7s;
}
@media screen and (max-width: 480px) {
  .products-menu__content-text {
    margin-top: 2.2222222222rem;
    font-size: 16px;
    transition: width 1.7s;
  }
}
.products-menu__container {
  padding: 1.6666666667rem 4.4444444444rem 2.4444444444rem 2.1111111111rem;
}

.hidden {
  z-index: -10;
}

/*close button if needed
.button_container.button_menu {
  position: absolute;
  top: rem(6px);
  right: rem(16px);
  display: none;
  height: 10px;
  width: 10px;

  @include phones {
    display: block;
  }
}*/
.reviews__display {
  background: url("../img/png/layerwithleaves.png") right top no-repeat;
  padding: 2.7777777778rem 2.4444444444rem 1.8888888889rem;
  background-color: #F8FAF9;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  opacity: 0;
  position: absolute;
}
.reviews__item.active {
  opacity: 1;
  position: static;
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
  padding-right: 16%;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    padding-right: 0;
    margin-left: 0;
    margin-top: 1.1111111111rem;
  }
}

.reviews__content-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
}

.reviews__content-text {
  margin-bottom: 1.1111111111rem;
  line-height: 1.2222222222rem;
}

.reviews__content-name {
  font-weight: 500;
  font-size: 1rem;
  color: #292929;
}

.interactive-avatar--pic {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
}

.section__head {
  margin-bottom: 4%;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: 0.7777777778rem;
}
.reviews__switcher-item:hover {
  border-color: #0b4d3c;
}
.reviews__switcher:after {
  content: "";
  background-image: url("../img/png/berry5.png");
  position: absolute;
  bottom: -8.3333333333rem;
  left: -4.3333333333rem;
  width: 7.4444444444rem;
  height: 10.7222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__switcher:after {
    width: 6.5555555556rem;
    height: 9.4444444444rem;
    background-size: contain;
    left: -7%;
    bottom: -47%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__switcher:after {
    width: 6.7777777778rem;
    height: 9.7777777778rem;
    left: -7%;
    bottom: -26%;
  }
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    margin-top: 1.7777777778rem;
  }
}

.section__reviews {
  position: relative;
}
.section__reviews:after {
  content: "";
  background-image: url("../img/png/berry4.png");
  position: absolute;
  top: 8%;
  right: 0;
  width: 7.5555555556rem;
  height: 4.3333333333rem;
}
@media screen and (max-width: 768px) {
  .section__reviews:after {
    width: 136px;
    height: 78px;
    background-size: contain;
    top: 0;
  }
}
.section__reviews:before {
  content: "";
  background-image: url("../img/png/ornament.png");
  position: absolute;
  bottom: -28%;
  left: 0;
  width: 5.6666666667rem;
  height: 17.7777777778rem;
}
@media screen and (max-width: 768px) {
  .section__reviews:before {
    width: 5rem;
    height: 15.6666666667rem;
    bottom: -10%;
    background-size: contain;
  }
}
@media screen and (max-width: 480px) {
  .section__reviews:before {
    width: 4.1111111111rem;
    height: 13rem;
  }
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  border: 0.3333333333rem solid transparent;
  overflow: hidden;
  position: relative;
  margin-right: 0.3333333333rem;
}
.interactive-avatar:last-child {
  margin-right: 0;
}
.interactive-avatar--active {
  border-color: #0b4d3c;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar--pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__player .section__head-title {
  color: #000;
  margin-bottom: 2.2222222222rem;
  margin-top: -1.1111111111rem;
}

.container.player-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.1111111111rem;
}
@media screen and (max-width: 768px) {
  .container.player-container {
    margin-bottom: 4.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .container.player-container {
    margin-bottom: 5.1111111111rem;
  }
}

.section__player {
  background: #F8FAF9;
}

.player {
  position: relative;
  display: flex;
  width: 36.7777777778rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: -12%;
}
@media screen and (max-width: 768px) {
  .player {
    width: 33rem;
  }
}
@media screen and (max-width: 480px) {
  .player {
    width: 21.8888888889rem;
  }
}
.player__controls-button {
  margin-top: -3px;
}
.player__sound-icon {
  margin-top: 9px;
}
@media screen and (max-width: 480px) {
  .player__sound-icon {
    margin-top: 11px;
  }
}
.player__duration {
  width: 24.7777777778rem;
}
@media screen and (max-width: 768px) {
  .player__duration {
    width: 22.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .player__duration {
    width: 11.1111111111rem;
  }
}
.player__sound-progress {
  width: 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .player__sound-progress {
    width: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .player__sound-progress {
    width: 1.4444444444rem;
  }
}
.player__start, .player__playback, .player__duration, .player__sound-progress {
  background: transparent;
  border: none;
  outline: none;
}
.player__elem {
  width: 36.7777777778rem;
}
@media screen and (max-width: 768px) {
  .player__elem {
    width: 33rem;
    height: 19.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .player__elem {
    width: 21.8888888889rem;
    height: 13rem;
  }
}
@media screen and (max-width: 480px) {
  .player__splash {
    margin-top: -13%;
  }
}
.player__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.player__wrapper:before {
  content: "";
  background-image: url("../img/png/playerleaf.png");
  position: absolute;
  top: 76%;
  left: -22%;
  width: 4rem;
  height: 7.4444444444rem;
}
@media screen and (max-width: 768px) {
  .player__wrapper:before {
    left: -22%;
    top: 46%;
    width: 3.4444444444rem;
    height: 6.4444444444rem;
    background-size: contain;
  }
}
.player__wrapper:after {
  content: "";
  background-image: url("../img/png/playerleafsmall.png");
  position: absolute;
  top: -10%;
  right: -16%;
  width: 5rem;
  height: 4.3333333333rem;
}
@media screen and (max-width: 768px) {
  .player__wrapper:after {
    right: -10%;
    width: 4rem;
    height: 3.4444444444rem;
    background-size: contain;
  }
}
@media screen and (max-width: 480px) {
  .player__wrapper:after {
    width: 3.3333333333rem;
    height: 2.7777777778rem;
  }
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.8888888889rem;
  background: #3e3e3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2222222222rem;
}
.player__controls-button {
  fill: #626262;
}
@media screen and (max-width: 480px) {
  .player__controls {
    width: 21.8333333333rem;
  }
}

.player__controls-col--right {
  display: flex;
}
@media screen and (max-width: 480px) {
  .player__controls-col--right {
    margin-right: 1.6666666667rem;
  }
}
.player__controls-col--left {
  display: flex;
}

.playbutton {
  width: 0.5555555556rem;
  height: 0.8888888889rem;
  vertical-align: middle;
  margin-right: 1.3888888889rem;
}
@media screen and (max-width: 480px) {
  .playbutton {
    margin-right: 16px;
  }
}
.playbutton.playbutton-big {
  fill: #fff;
  width: 5.5555555556rem;
  height: 7.2222222222rem;
  position: absolute;
  top: 33%;
  left: 44%;
}
@media screen and (max-width: 768px) {
  .playbutton.playbutton-big {
    top: 34%;
    left: 43%;
  }
}
@media screen and (max-width: 480px) {
  .playbutton.playbutton-big {
    left: 38%;
    top: 40%;
    width: 6.5555555556rem;
    height: 8.2222222222rem;
  }
}

#play-button-container {
  display: inline-block;
  width: 0.5555555556rem;
  height: 0.8888888889rem;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 1.3888888889rem;
}

.play-button {
  display: inline-block;
  position: absolute;
  width: 0.5555555556rem;
  height: 0.8888888889rem;
  background: #626262;
  transition: -webkit-clip-path 0.3s ease;
  transition: clip-path 0.3s ease;
  transition: clip-path 0.3s ease, -webkit-clip-path 0.3s ease;
}

.play-button-before {
  -webkit-clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
          clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
}

.play-button-after {
  -webkit-clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
          clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
}

#play-button-container.active .play-button-before {
  -webkit-clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
          clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
}

#play-button-container.active .play-button-after {
  -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%);
          clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%);
}

.duration__length {
  width: 24.6666666667rem;
  height: 0.3333333333rem;
  vertical-align: middle;
  background: #626262;
}

.soundicon {
  width: 0.6666666667rem;
  height: 0.8888888889rem;
  vertical-align: middle;
  margin-right: 1.2222222222rem;
}
@media screen and (max-width: 480px) {
  .soundicon {
    margin-right: 12px;
  }
}

.duration__length.duration__length-sound {
  width: 3.3333333333rem;
  height: 0.3333333333rem;
  vertical-align: middle;
  margin-right: 1.2222222222rem;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #626262;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #626262;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #626262;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-width: 16px 0;
}

input[type=range]::-ms-fill-lower {
  background: #626262;
  border: none;
}

input[type=range]:focus::-ms-fill-lower {
  background: #626262;
}

input[type=range]::-ms-fill-upper {
  background: #626262;
  border: none;
}

input[type=range]:focus::-ms-fill-upper {
  background: #626262;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #626262;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #626262;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.2777777778rem;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #626262;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #626262;
  border: none;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #626262;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #626262;
  border: none;
  border-radius: 50%;
}

input[type=range]::-ms-fill-upper {
  background: #626262;
  border: none;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #626262;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #626262;
}

input[type=range]:focus::-ms-fill-upper {
  background: #626262;
}

.player__start.player__start-big.player__start-big--active {
  opacity: 0;
}

.player__start.player__start-big {
  width: 662px;
  height: 390px;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .player__start.player__start-big {
    width: 33rem;
    height: 19.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .player__start.player__start-big {
    width: 21.8888888889rem;
    height: 13rem;
  }
}

.section__order {
  background: url("../img/png/pattern.png");
  color: #0b4d3c;
  position: relative;
  z-index: 0;
}
.section__order:before {
  content: "";
  background-image: url("../img/png/berry7.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -17%;
  right: 0;
  z-index: -10;
  width: 10.8888888889rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .section__order:before {
    width: 6.1111111111rem;
    height: 8.1111111111rem;
    background-size: contain;
    top: -7%;
  }
}
.section__order:after {
  content: url("../img/png/berry6.png");
  position: absolute;
  top: 80%;
  left: 8%;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .section__order:after {
    display: none;
  }
}

.section__head-title {
  color: #0b4d3c;
}

.form__col-right {
  position: relative;
}
.form__col-right:after {
  content: url("../img/png/leaf4.png");
  position: absolute;
  top: 48%;
  right: -16%;
}
@media screen and (max-width: 768px) {
  .form__col-right:after {
    display: none;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 2%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 0.5555555556rem;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .form__row {
    justify-content: center;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: solid 0.1666666667rem transparent;
  padding: 1rem 0.6666666667rem;
  border-radius: 4px;
  outline: none;
}
.form__input:focus {
  border-color: #DEE2BD;
}
.form__input--textarea {
  min-height: 10rem;
  width: 100%;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    min-height: 4.5555555556rem;
  }
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5555555556rem 0.4444444444rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__elem {
  display: inline-flex;
  margin-right: 1.1111111111rem;
}
.form__elem:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__elem {
    margin-top: 4px;
  }
}

.form__button {
  display: flex;
}

.form__btns {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__btns {
    justify-content: center;
  }
}

.radio--checkbox {
  margin-bottom: 0.6666666667rem;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #0b4d3c;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .section.section__map {
    margin-top: -13%;
  }
}

.map {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.fixed-menu {
  position: fixed;
  top: 32%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    right: 1%;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link, .fixed-menu__item:hover .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu.dark .fixed-menu__link:before {
  transition: 1s;
  background: #626262;
}
.fixed-menu.dark .fixed-menu__item--active .fixed-menu__link, .fixed-menu.dark .fixed-menu__item:hover .fixed-menu__link {
  transition: 1s;
  border-color: #626262;
}

.footer {
  position: relative;
  bottom: 0;
  height: 5.2777777778rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.call__number-footer {
  color: #0b4d3c;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.0555555556rem;
}

.footer__phone {
  display: flex;
}
@media screen and (max-width: 480px) {
  .footer__phone {
    justify-content: center;
    margin-left: -1.1111111111rem;
  }
}

.footer__address {
  color: #292929;
  font-size: 1.1666666667rem;
  line-height: 1.3333333333rem;
  padding-top: 1.2222222222rem;
  margin-bottom: 0.2222222222rem;
}

.call__logo {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3888888889rem;
  align-self: flex-start;
}

.call__logo-pic.logo__footer {
  fill: #497870;
  align-self: center;
}
@media screen and (max-width: 480px) {
  .call__logo-pic.logo__footer {
    margin-top: 4px;
  }
}

.footer__social {
  margin-top: 2.5555555556rem;
}
@media screen and (max-width: 480px) {
  .footer__social {
    margin-top: 0.8888888889rem;
  }
}

.social__item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0.6666666667rem;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  content: "";
  display: inline-flex;
  text-decoration: none;
  height: 1.1111111111rem;
  width: 1.1111111111rem;
  position: relative;
}

.social__item {
  content: "";
  display: inline-flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}
.social__item-vk {
  fill: #B3B3B3;
}
.social__item-vk:hover {
  fill: #292929;
}
.social__item-facebook {
  fill: #B3B3B3;
}
.social__item-facebook:hover {
  fill: #292929;
}
.social__item-instagram {
  fill: #B3B3B3;
}
.social__item-instagram:hover {
  fill: #292929;
}
.social__item-twitter {
  fill: #B3B3B3;
}
.social__item-twitter:hover {
  fill: #292929;
}

.menu {
  margin: 0 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__link {
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
}

.menu__item {
  margin-right: 1.4444444444rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.call {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 400;
  white-space: nowrap;
  flex-shrink: 0;
}

.call__logo-pic {
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  margin-right: 0.3333333333rem;
  fill: #fff;
}

.logo {
  fill: #fff;
  width: 2.9222222222rem;
  height: 2.1111111111rem;
}

.hamburger {
  width: 24px;
  height: 20px;
  cursor: pointer;
  z-index: 105;
  transition: opacity 0.25s ease;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}

.hamburger.hamburger--active {
  opacity: 0.7;
}

.hamburger.hamburger--active .hamburger__plank--top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  border-radius: 5px;
}

.hamburger.hamburger--active .hamburger__plank--middle {
  opacity: 0;
}

.hamburger.hamburger--active .hamburger__plank--bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  border-radius: 5px;
}

.hamburger__plank {
  background: #fff;
  display: block;
  border: none;
  height: 4px;
  border-radius: 10px;
  transition: all 0.35s ease;
  cursor: pointer;
}

.overlay {
  position: fixed;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 102;
}

.overlay.overlay--open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.overlay.overlay--open .hamburger__menu-item {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.hamburger__menu {
  display: none;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  width: 14rem;
  height: 28.3333333333rem;
}
.hamburger__menu-list {
  flex-direction: column;
  margin-top: 20%;
}
.hamburger__menu-link {
  justify-content: center;
  text-decoration: none;
  display: block;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
  line-height: 4rem;
}
.hamburger__menu-item {
  display: block;
  position: relative;
  line-height: 1;
  opacity: 0;
}

.body-active-menu {
  display: contents;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.btn-close {
  z-index: 150;
  width: 20px;
  height: 20px;
  fill: #fff;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .btn-close {
    right: 20px;
    top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .btn-close {
    top: 28px;
    right: 10px;
  }
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}
.modal__container {
  background: #fff;
  padding: 2rem 3.3333333333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__content {
  margin-bottom: 1.6666666667rem;
  color: #000;
}

.input-error {
  border-color: red;
}