.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits__element {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:before {
    content: url("../img/png/3dots.png");
    position: absolute;
    top: rem(56px);
    right: 0;
    transform: translateX(50%);

    @include phones {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}

.benefits__col {
  @include phones {
    flex: 2;
    text-align: left;
    margin-right: 40px;
    margin-left: 12px;
  }
}