.btn {
  font-weight: bold;
  font-size: rem(18px);
  padding: rem(20px) rem(40px);
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  letter-spacing: rem(0.3px);
  border: none;

  &--theme--white {
    color: $darkGreen;
    background: #fff;

    &:hover {
      color: #fff;
      background: $darkGreen;
    }
  }

  &--theme--green {
    color: #fff;
    background: $darkGreen;

    &:hover {
      color: $darkGreen;
      background: #fff;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #292929;
    text-transform: none;
    font-weight: 400;

    &:hover {
      color: $darkGreen;
    }
  }
}

