.feature {
  display: flex;
}

.feature__icon {
  width: rem(38px);
  height: rem(30px);
  margin-right: rem(8px);
  fill: transparent;
  stroke: #C6F7FF;
  stroke-width: 1px;
}

.feature__text {
  font-size: rem(16px);
  font-weight: 400;
  max-width: rem(84px);
}