.fixed-menu {
  position: fixed;
  top: 32%;
  right: 3%;
  z-index: $z-fixed-menu;

  @include tablets {
    display: none;
  }

  @include phones {
    right: 1%;
  }
}

.fixed-menu__item {
  margin-bottom: rem(5px);

  &--active, &:hover {
    .fixed-menu__link {
      border-color: #fff;
    }
  }
}

.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fixed-menu.dark {
  .fixed-menu__link:before{
    transition: 1s;
    background: #626262;
  }
  
  .fixed-menu__item--active, .fixed-menu__item:hover{
    .fixed-menu__link {
      transition: 1s;
      border-color: #626262;
    }
  }
}