.form {
  display: flex;
}

.form__col {
  flex:1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: solid 3px transparent;
  padding: 18px 12px;
  border-radius: 4px;
  outline: none;

  &:focus {
    border-color: #DEE2BD;
  }

  &--textarea {
    min-height: 180px;
    width: 100%;
    resize: none;
  }
}


.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__elem {
  display: inline-flex;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
  
}

.form__button {
  display: flex;
}

.radio--checkbox {
  margin-bottom: 12px;
}