.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(14px);
  margin-bottom: rem(32px);

  @include tablets {
    padding-top: 0;
  }
}


.call.header__phone-number {
  @include tablets {
    display: none;
  }
}