.hero { 
  background: url("../img/png/bg-ornament.png") right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: rem(650px);
  color: #FFFFFF;
  position: relative;

  @include tablets {
    background-position: right bottom 80%;
  }


  &:before {
    position: absolute;
    content: url("../img/png/leaf3.png");
    bottom: rem(-40px);
    left: 2%;
    z-index: 91;

    @include tablets {
      display: none;
    }
  }

  &:after {
    position: absolute;
    content: url("../img/png/hero-berries.png");
    bottom: rem(-68px);
    right: 8%;

    @include tablets {
      display: none;
    }
  }

  &:before, &:after {
    @include tablets {
      display: none;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(46px);
  background: url("../img/png/chocs.png") right center / 50% auto no-repeat;
  z-index: 88;

  @include tablets {
    background: none;    ;
  }
}

.hero__content {
  width: 42%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    &:before {
      content: "";
      position: absolute;
      width: rem(350px);
      height: rem(366px);
      top: 16%;
      background: url("../img/png/comp.png")center center / contain no-repeat;

      @include phones {
        top: 8%;
      }
    }
  }

  
}

.hero__content-title {
  font-size: rem(48px);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: rem(16px);
  z-index: 10;

  @include tablets {
    padding: 0 5%;
    margin-top: 44%;
  }

  @include phones {
    margin-top: 62%;
  }
}

.hero__content-text {
  font-weight: 400;
  font-size: rem(21px);
  margin-bottom: rem(50px);
  padding-right: 10%;

  @include tablets {
    padding: 0 24%;
    margin-bottom: rem(34px);
  }

  @media (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero__icons {
  @include tablets {
    display: none;
  }
}
