.section__order {
  background: url("../img/png/pattern.png");
  color: $darkGreen;
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    background-image: url("../img/png/berry7.png");
    position: absolute;
    top: -17%;
    right: 0;
    z-index: -10;
    width: rem(196px);
    height: rem(264px);

    @include tablets {
      width: rem(110px);
      height: rem(146px);
      background-size: contain;
      top: -7%;
    }
  }

  &:after {
    content: url("../img/png/berry6.png");
    position: absolute;
    top: 80%;
    left: 8%;
    z-index: 10;

    @include tablets {
      display: none;
    }
  }

}

.section__head-title {
  color: $darkGreen;
}

.form__col-right {
  position: relative;

  &:after {
    content: url("../img/png/leaf4.png");
    position: absolute;
    top: 48%;
    right: -16%;

    @include tablets {
      display: none;
    }
  }
}