.section__order {
  background: url("../img/png/pattern.png");
  color: $darkGreen;
  position: relative;
  z-index: 0;

  &:before {
    content: url("../img/png/berry7.png");
    position: absolute;
    top: -17%;
    right: 0;
    z-index: -10;

    @include phones {
      transform: scale3d(-50%);
    }
  }

  &:after {
    content: url("../img/png/berry6.png");
    position: absolute;
    top: 80%;
    left: 8%;
    z-index: 10;
  }

}

.section__head-title {
  color: $darkGreen;
}

.form__col-right {
  position: relative;

  &:after {
    content: url("../img/png/leaf4.png");
    position: absolute;
    top: 48%;
    right: -16%;
  }
}