.section__player .section__head-title {
  color: #000;
  margin-bottom: rem(40px);
  margin-top: rem(-20px);
}

.container.player-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(110px);

  @include tablets {
    margin-bottom: rem(86px);
  }

  @include phones {
    margin-bottom: rem(92px);
  }
}

.section__player {
  background: #F8FAF9;
}

.player {
  position: relative;
  display: flex;
  width: rem(662px);
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: -12%;

  @include tablets {
    width: rem(594px);
  }

  @include phones {
    width: rem(394px);
  }

  &__controls-button {
    margin-top: -3px;
  }

  &__sound-icon {
    margin-top: 9px;

    @include phones {
      margin-top: 11px;
    }
  }

  &__duration {
    width: rem(446px);

    @include tablets {
      width: rem(400px);
    }

    @include phones {
      width: rem(200px);
    }
  }

  &__sound-progress {
    width: rem(60px);

    @include tablets {
      width: rem(54px);
    }

    @include phones {
      width: rem(26px);
    }
  }

  &__start, &__playback, &__duration, &__sound-progress {
    background: transparent;
    border: none;
    outline: none;
  }

  &__elem {
    width: rem(662px);

    @include tablets {
      width: rem(594px);
    }

    @include phones {
      width: rem(394px);
    }
  }

  &__splash {
    @include phones {
      margin-top: -13%;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    &:before {
      content: "";
      background-image: url("../img/png/playerleaf.png");
      position: absolute;
      top: 76%;
      left: -22%;
      width: rem(72px);
      height: rem(134px);

      @include tablets {
        left: -22%;
        top: 46%;
        width: rem(62px);
        height: rem(116px);
        background-size: contain;
      }
    }

    &:after {
      content: "";
      background-image: url("../img/png/playerleafsmall.png");
      position: absolute;
      top: -10%;
      right: -16%;
      width: rem(90px);
      height: rem(78px);

      @include tablets {
        right: -10%;
        width: rem(72px);
        height: rem(62px);
        background-size: contain;
      }

      @include phones {
        width: rem(60px);
        height: rem(50px);
      }
    }
  }
}



.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: rem(34px);
  background: #3e3e3e;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 rem(22px);

  &-button {
    fill: #626262;
  }

  @include phones {
    width: rem(393px);
  }
}

.player__controls-col {
  &--right {
    display: flex;

    @include phones {
      margin-right: rem(30px);
    }
    
  }
  
  &--left {
    display: flex;
  }


}

.playbutton {
  width: rem(10px);
  height: rem(16px);
  vertical-align: middle;
  margin-right: rem(25px);

  @include phones {
    margin-right: 16px;
  }

  &.playbutton-big {
    fill: #fff;
    width: rem(74px);
    height: rem(110px);
    position: absolute;
    top: 35%;
    left: 46%;

    @include tablets {
      width: rem(68px);
      height: rem(98px);
    }

    @include phones {
      width: rem(44px);
      height: rem(66px);
      top: 45%;
    }
  }
}

.duration__length {
  width: rem(444px);
  height: rem(6px);
  vertical-align: middle;
  background: #626262;
}

.soundicon {
  width: rem(12px);
  height: rem(16px);
  vertical-align: middle;
  margin-right: rem(22px);

  @include phones {
    margin-right: 12px;
  }
}

.duration__length.duration__length-sound {
  width: rem(60px);
  height: rem(6px);
  vertical-align: middle;
  margin-right: rem(22px);
}



//range styling

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #626262;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #626262;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #626262;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-width: 16px 0;
}
input[type=range]::-ms-fill-lower {
  background: #626262;
  border: none;
}
input[type=range]:focus::-ms-fill-lower {
  background: #626262;
}
input[type=range]::-ms-fill-upper {
  background: #626262;
  border: none;
}
input[type=range]:focus::-ms-fill-upper {
  background: #626262;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #626262;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #626262;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: rem(-5px);
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #626262;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #626262;
  border: none;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #626262;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #626262;
  border: none;
  border-radius: 50%;
}
input[type=range]::-ms-fill-upper {
  background: #626262;
  border: none;
  border-radius: 50%;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #626262;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #626262;
}
input[type=range]:focus::-ms-fill-upper {
  background: #626262;
}

.player__start.player__start-big.player__start-big--active {
  opacity: 0;
}