.reviews__display {
  background: url("../img/png/layerwithleaves.png") right top no-repeat;
  padding: rem(50px) rem(44px) rem(34px);
  background-color: #F8FAF9;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #fff;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-65px);
  }
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(264px);

  @include tablets {
    width: rem(130px);
    height: rem(132px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(20px);
  padding-right: 16%;

  @include tablets {
    padding-right: 0;
    margin-left: 0;
    margin-top: rem(20px);
  }

}

.reviews__content-title {
  font-weight: bold;
  font-size: rem(27px);
  color: #292929;
}

.reviews__content-text {
  margin-bottom: rem(20px);
  line-height: rem(22px);
}

.reviews__content-name {
  font-weight: 500;
  font-size: rem(18px);
  color: #292929;
}

.interactive-avatar--pic {
  width: rem(74px);
  height: rem(74px);
}

.section__head {
  margin-bottom: 4%;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: rem(14px);

  &:after {
    content: url("../img/png/berry5.png");
    position: absolute;
    bottom: rem(-150px);
    left: rem(-78px);

    @include phones {
      width: 136px;
      height: 78px;
    }
  }

  @include tablets {
    margin-top: rem(32px);
  }
}

.section__reviews {
  position: relative;

  &:after {
    content: url("../img/png/berry4.png");
    position: absolute;
    top: 8%;
    right: 0;
    z-index: -10;
  }

  &:before {
    content: url("../img/png/ornament.png");
    position: absolute;
    bottom: -28%;
    left: 0;
  }
}