.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    min-height: 816px;
  }

  @include phones {
    min-height: 816px;
  }
}

.section__head {
  text-align: center;
  
  @include phones {
    margin-top: 4%;
  }
}

.section__head-title {
  font-weight: bold;
  font-size: rem(48px);
  line-height: rem(58px);
  text-transform: uppercase;
  color: #292929;
  margin-bottom: rem(6px);
  z-index: 90;

  @media (max-width: 480px) {
    padding-top: 2%;
  }
}

.section__head-text {
  padding-left: 26%;
  padding-right: 26%;

  @include tablets {
    padding-left: 20%;
    padding-right: 20%;
  }

  @include phones {
    padding-left: 5%;
    padding-right: 5%;
  }
}