.footer__social {
  margin-top: rem(46px);

  @include phones {
    margin-top: rem(16px);
  }
}

.social__item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: rem(12px);

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  content: "";
  display: inline-flex;
  text-decoration: none;
  height: rem(20px);
  width: rem(20px);
  position: relative;
}

.social__item {
  content: "";
  display: inline-flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(20px); height: rem(20px);

  &-vk {
    fill: #B3B3B3;

    &:hover {
      fill: #292929;
    }
  }

  &-facebook {
    fill: #B3B3B3;

    &:hover {
      fill: #292929;
    }
  }

  &-instagram {
    fill: #B3B3B3;

    &:hover {
      fill: #292929;
    }
  }

  &-twitter {
    fill: #B3B3B3;

    &:hover {
      fill: #292929;
    }
  }
}
