.mobile-wrapper {
  display: flex;
  justify-content: center;
}


.team {
  &--version--desktop {
    display: flex;
    flex-direction: row;
    -webkit-box-flex: 1;
    justify-content: space-between;
    text-align: center;

    @include tablets {
      display: none;
    }
  }

  &--version--mobile {
    display: none;
    position: absolute;
    top: 100%;
  

    @include tablets {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: rem(300px);
    }

  }
}



.section__head-title.section__head-title--team {
  color: #292929;
  margin-bottom: rem(33px);

  @include tablets {
    margin-top: rem(200px);
    margin-bottom: rem(34px);
  }
}

.team__item {
  width: rem(222px);
  height: rem(454px);
  position: relative;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    text-align: center;
    width: rem(260px);
    margin-right: 0;
    margin-bottom: 10px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

}



.team__member {
  margin-bottom: rem(20px);
  width: rem(222px);
  height: rem(290px);

  @include tablets {
    margin: 0 auto;
  }

  @include phones {
    width: rem(138px);
    height: rem(180px);
  }

  &-photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: rem(6px);

  }
}

.team__title {
  border: none; 
  background: none;
  font-style: normal;
  font-weight: bold;
  font-size: rem(21px);
  padding: 0;
  vertical-align: middle;
  margin-bottom: rem(8px);
  outline: none;

}

.team__content-text {
  
  &--title{
    font-style: normal;
    font-weight: normal;
    font-size: rem(18px);
    line-height: rem(22px);
    margin-bottom: rem(4px);
    color: #000000;

    @include tablets {
      font-weight: bold;
      color: #000000;
      margin-top: rem(14px);
    }
  }

  &--description {
    font-weight: 300;
    font-size: rem(18px);
    line-height: rem(22px);

    @include tablets {
      margin-bottom: rem(32px);
    }
  }
}

.team__content {
  overflow: hidden;
  transition: height .3s;
  height: 0;

  &-block {
    height: rem(432px);

    @include tablets {
    width: rem(260px);
    height: rem(400px);
    }

    @include phones {
      height: rem(280px);
    }

  }

}

.section__team {
  min-height: 400px;

  @include tablets {
    display: block;
  }
}

.equilateralTriangle {
	width: 0;
	height: 0;
  margin-top: -7px;
  border-right: 5px solid  transparent; 
  border-left: 5px solid  transparent; 
  border-top: 7px solid #365A49;
  border-bottom: 0px solid #365A49; 

  
	vertical-align: super;
  display: inline-block;
  margin-left: 4px;

  &.active {
    border-right: 5px solid  transparent; 
    border-left: 5px solid  transparent; 
    border-top: 0px solid #365A49;
    border-bottom: 7px solid #365A49; 
  }
}

.triangle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
